* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.margin-box {
  background-color: #dbeafe;
  padding: 40px;
  display: inline-block;
  position: relative;
  color:black;
}

.border-box {
  background-color: #fde68a;
  padding: 30px;
  border: 4px solid #f59e0b;
  position: relative;
}

.padding-box {
  background-color: #e9d5ff;
  padding: 30px;
  position: relative;
}

.content-box {
  background-color: #ffffff;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid #9ca3af;
}

/* Labels */
.label {
  position: absolute;
  background: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.margin-label {
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.border-label {
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
}

.padding-label {
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
}

.content-label {
  position: static;
}